html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

.background {
    padding: 0;
    margin: 0;
    background-image: url('/images/img1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.row {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: hidden;
    background-image: linear-gradient(to top, rgba(255,0,0,0), #333);
    color: white;
    text-align: center;
    font-family: 'Thasadith', sans-serif;
}

.row:hover {
    background-color: #333;
}

.logo {
    font-size: 40px;
    padding-bottom: 5px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255,0,0,0);
    font-size: 20px;
}
        
.navbutton {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
}

.navbutton:hover {
    background-color: #111;
}

  /* Dropdown Content */
.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  color: white;
  background-color: white;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  /* z-index: 1; */
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: white;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 0;
  background-color: #ccc;
  height: 250px;
}

.column a {
  float: none;
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.column a:hover {
  background-color: #ddd;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
    font-family: 'Thasadith', sans-serif;
    text-align: center;
}