html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

.background {
    padding: 0;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.noie-nav {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 0px;
    overflow: hidden;
    background-image: linear-gradient(to top, rgba(255,0,0,0), #222);
    color: white;
    text-align: center;
    font-family: 'Thasadith', sans-serif;
    /* height: 16%; */
}

.noie-nav:hover {
    background-color: #222;
}

.noie-logo {
    font-size: 28px;
    padding-bottom: 5px;
    vertical-align: center;
    /* height: 34%; */
}

.noie-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255,0,0,0);
    font-size: 15px;
    /* height: 66%; */
}
        
.noie-navbutton {
    display: inline-block;
    color: white;
    text-align: center;
    margin-top: 5px;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
}

.noie-navbutton:hover {
    background-color: #111;
}

  /* Dropdown Content */
.noie-dropdown {
  display: inline-block;
  cursor: default;
}

.noie-dropdown-content {
  position: absolute;
  color: white;
  background-color: rgba(204,204,204,0.9);
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.15s ease-out;
}

.noie-dropdown:hover .noie-dropdown-content {
  display: block;
  /* overflow: auto; */
  max-height: 500px;
  transition: max-height 0.25s ease-in;
}

/* Create three equal columns that floats next to each other */
.noie-column {
  float: left;
  width: 33.33%;
  padding: 0;
  background-color: rgba(255,0,0,0);
  overflow: auto;
  max-height: 500px;
}

.noie-column h4 {
  float: none;
  color: black;
  padding: 7px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.noie-column a {
  float: none;
  color: black;
  padding: 7px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.noie-column a:hover {
  /* background-color: #ddd; */
  color: white;
}

/* Clear floats after the columns */
.noie-row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
    font-family: 'Thasadith', sans-serif;
    text-align: center;
}

/* Radio Button */
/* The container */
.noie-container {
  display: inline-block;
  position: relative;
  margin-right: 40px;
  padding-left: 35px;
  margin-bottom: 45px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 0;
}

/* Hide the browser's default radio button */
.noie-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.noie-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.noie-container:hover input ~ .noie-checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.noie-container input:checked ~ .noie-checkmark {
  /* background-color: #2196F3; */
  background-color: #222;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.noie-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.noie-container input:checked ~ .noie-checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.noie-container .noie-checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

/* Button */
button {
  background-color: #222;
  border: none;
  color: white;
  padding: 7px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  line-height: 22px;
  font-family: 'Thasadith', sans-serif;
}

button:hover {
  background-color: #333;
}

/* Rowblock-2 */
.rowblock-2 {
  margin-top: 1%;
  margin-left: 1%;
  margin-bottom: 1%;
  content: "";
  display: table;
  clear: both;
}

.columnblock-2 {
  float: left;
  width: 50%;
  padding: 10px;
  text-align: justify;
  color: white;
  padding: 30px 50px 30px 50px;
  font-size: 15px;
}

.socmed-icon {
  margin-right: 8px;
}

input[type=text], input[type=tel] {
  padding: 7px 10px;
  margin-top: 8px;
  border: none;
  width: 50%;
  font-size: 16px;
  line-height: 22px;
  margin: 5px;
  margin-left: 25px;
  border: 1px;
}

input[type=text]:focus {
	background-color: #fff;
}

.search-container {
  width: 100%;
  position: absolute;
  top: 35%;
}

.result-container {
  width: 80%;
  text-align: center;
}

#payment-search-heading {
  width: 100%;
  top: 25%;
  position: absolute;
  font-family: 'Thasadith', sans-serif;
}

/* Order Form */
.form-style {
  margin-top: 2%;
}
.input-label {
  font-size: 20px;
  width: 35%;
  text-align: right;
}

#order-button {
  margin-top: 40px;
}

.product-detail {
  align: center;
  margin-top: 3%;
}

.product-name {
  margin: 3% 0%;
}

/* Rowblock-3 */
.rowblock-3 {
  margin-top: 3%;
  margin-bottom: 1%;
  display: table;
  width: 100%;
  display: inline-block;
}

.columnblock-3 {
  width: 33%;
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
}

/* Next & previous slide buttons */
.prev-slide, .next-slide {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 28px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(201,201,201,0.7);
}

/* Position the "next button" to the right */
.next-slide {
  right: 0;
  margin-right: 0.5%;
  border-radius: 3px 0 0 3px;
}
.prev-slide {
  left: 0;
  margin-left: 0.5%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev-slide:hover, .next-slide:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 8% 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}